body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*########################################################################################*/

#roll_it img{
   border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
   width:100%;
   max-height:150px;
    
}
#roll_it div{
    
    /*position:absolute;*/
     width:220px;
    /*background-color:ButtonShadow;*/
    margin:10px;
    /*overflow-x:visible;*/
    float:left;  
}
#roll_it{
    margin: 20px 0;
	width: 100%;
    padding:0;
    overflow-y:hidden;
    /*width:100%;*/
}

.caroufredsel_wrapper {
    
    /*width:500px;*/
}

 #slider li img{
           width:200px;
            height:100px;
            /*float:right;*/

        }
#slider li {
    float: left;
    list-style: none;
    margin: 10px;
    max-width: 200px;
    overflow: hidden;
    /*background-color: brown;*/
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
         #slider{
             width:9999999px;
             position:relative;
             background-color:blue;
         }
         #container{
             position:relative;
             width:80%;
             margin:auto 10%;
             overflow:hidden;
             /*background-color:coral;*/
             padding-top:5px;
             padding-bottom:5px;
             
         }

         #prev,#next{
             cursor:pointer;
         }
         #next{
           
             position:relative;
           margin-top:50px;
         }
         #prev{
           position:relative;
           margin-top:50px;
           //margin-left:10px;
            
             
         }
         #controls{
             position:relative;
             margin: auto 10%;
         }
