<html>
<head>
    <title></title>
     <link href="../static/content/bootstrap.css" rel="stylesheet" />
    <link href="../static/content/site.css" rel="stylesheet" />
    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/bootstrap.js"></script>
    <script src="../static/scripts/globepost.js"></script>
    <script src="../static/scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="../static/scripts/globepost.js"></script>
    <style>
        .header1{
            background-color:#00d0ff;
        }
        .header2{
            background-color:#808080;
        }
        .map_region{
            background-color:#acf2f2;
        }
        .content_area{
            background-color:#ffffff;
        }
        .footer{
            background-color:#2c0802;
        }
        .logo {
           
            
        }
    </style>
    

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["geochart"]});
      google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700],
          ['Lagos', 1200]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>

</head>

<body>
    <div class="container" style="box-shadow:0 0  5px   #888;">
        <div class="row">
            <div class="col-xs-12 visible-xs " style="height:50px; background-color:#00d0ff;">

            </div>
        </div>
        <div class="row header1">


          
            <div class="logotext col-xs-12- col-sm-10 col-sm-push-3">


                <nav id="navigator" style="" class="navbar   navbar-default " role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" style="top:0">News</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li ><a  href="#">Weather Report</a></li>
                                <li><a href="#">Africa</a></li>
                                <li><a href="#">MiddleEast</a></li>
                                <li><a href="#">Sport</a></li>
                                <li><a href="#">Financial News</a></li>
                                <li><a href="#">Entertainment</a></li>

                            </ul>


                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>






            </div>
  <div class="logo col-xs-12    col-md-2 col-sm-pull-10">
                <img src="../static/image/logo2.png" height="100" width="200" />
            </div>


        </div>

        <div class="row header2" style="background-color:#ffffff">
            <div class="container">
                <div class=" row">
                    <div class="breakingnews col-xs-12 ">
                        Breaking news
                    </div>
                </div>

                
                <div  class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 col-md-pull-1">
                        <div class="imgwrap">
                            <div id="imgslide">
                                <div class="img_frame" >
                                    <img src="../static/image/Hydrangeas.jpg" />
                                    <p>News Weather Report Africa NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Jellyfish.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Koala.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Lighthouse.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                
                                <div class="img_frame">
                                    <img src="../static/image/Penguins.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Tulips.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Hydrangeas.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Jellyfish.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Koala.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Lighthouse.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                               
                                <div class="img_frame">
                                    <img src="../static/image/Penguins.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                                <div class="img_frame">
                                    <img src="../static/image/Tulips.jpg" />
                                    <p>News Weather Report Africa MiddleEast Sport Financial NewsEntertainment</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                    </div>
                    <div class="col-md-2"></div>

                </div>
            </div>


        </div>
        <div class="row map_region" id="mymap">
            <div  class="col-md-12" style="padding-left:0;padding-right:0; border:none;height:650px;" id="regions_div">
           <!-- <img src="../static/image/map.png" style="width:100%; height:650px;" />-->

        </div>
    </div>
    <div id="contentarea" class="row content_area">
        <div class="container">
            <div class="row">
                <div id="story" class="col-md-12">

                    <h5 style="font-weight:bold;">Stories >>></h5>

                </div>
            </div>
            <div class="row">
                <div id="sidebar" class="col-md-2 " style=" padding:0;  ">
                    <ul class="list-group" style="padding:0; margin-bottom:0;">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            World
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Africa
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Europe
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            MiddleEast
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Asia
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            South America
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Austrialia
                        </li>
                    </ul>
                </div>
                <div id="listcont" class="col-md-10" >
                    <div id="listing" class="container">
                       
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        footer
    </div>

    
</body>
</html>
