<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

<script src="../static/scripts/jquery-1.10.2.js"></script>
<script src="../static/scripts/bootstrap.js"></script>
<script src="../static/scripts/jquery.carouFredSel-6.2.1.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.mousewheel.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.touchSwipe.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.transit.min.js"></script>
<script src="../static/scripts/globepost.js"></script>
<link href="../static/content/bootstrap.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">


                <div style="width:200px; overflow-wrap:normal; background-color:#ffd800">

                    <ul>
                    <li style="width:200px;"  data-toggle="collapse" data-target="#collapse1">
                        Accordion heading 1
                    </li>
                    </ul>
                    <div id="collapse1" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                    </div>
                </div>



                   <div id="sidebar" class="col-md-2 " style=" padding:0;  ">
                        <ul class="list-group" style="padding:0; margin-bottom:0;">
                            <li class="list-group-item btn " data-toggle="collapse" data-target="#collapse2">
                                <span id="world" class="badge">0</span>
                                World
                                <div id="collapse2" class="collapse">
                       < Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
                    </div>
                            </li>
                            <li class="list-group-item">
                                <span id="afr" class="badge">0</span>
                                Africa
                            </li>
                            <li class="list-group-item">
                                <span id="eu" class="badge">0</span>
                                Europe
                            </li>
                            <li class="list-group-item">
                                <span id="me" class="badge">0</span>
                                MiddleEast
                            </li>
                            <li class="list-group-item">
                                <span id="asia" class="badge">0</span>
                                Asia
                            </li>
                            <li class="list-group-item">
                                <span id="us" class="badge">0</span>
                                America
                            </li>
                            <li class="list-group-item">
                                <span id="aus" class="badge">0</span>
                                Austrialia
                            </li>
                        </ul>
                    </div>






            </div>
        </div>

    </div>




</body>
</html>