<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

<script src="../static/scripts/jquery-1.10.2.js"></script>
<script src="../static/scripts/bootstrap.js"></script>
<script src="../static/scripts/jquery.carouFredSel-6.2.1.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.mousewheel.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.touchSwipe.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.transit.min.js"></script>
<script src="../static/scripts/globepost.js"></script>
<link href="../static/content/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#imgslide").carouFredSel({
                items: 5,
                direction: "left",
                scroll: {
                    items: 5,
                    //easing: "elastic",
                    duration: 1000,
                    pauseOnHover: true
                }
            });
        });
    </script>
    <style>
        #imgslide img{
            width:140px;
        }
        #imgslide .thumbnail{
            width:150px;
            height:200px;
            float:left;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div id="imgslide">
                <div class="thumbnail">
                    <img src="../static/image/Hydrangeas.jpg" />

                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Jellyfish.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Koala.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Lighthouse.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/logo2.png" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Penguins.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Tulips.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Hydrangeas.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Jellyfish.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
                <div class="thumbnail">
<img src="../static/image/Koala.jpg" />
                    b iubjy ub jj nfjyfykjkg
                    kuhb,jbhukjn
                    bhjjbk
                    lknkn

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>