<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
<script src="../static/scripts/jquery-1.10.2.min.js"></script>
<script src="../static/scripts/jquery-1.10.2.js"></script>
<script src="../static/scripts/bootstrap.js"></script>
<script src="../static/scripts/jquery.carouFredSel-6.2.1.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.mousewheel.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.touchSwipe.min.js"></script>
<script src="../static/carouFredSel-master/carouFredSel-master/helper-plugins/jquery.transit.min.js"></script>
<script src="../static/scripts/handlebars-v4.0.2.js"></script>
<link href="../static/content/bootstrap.css" rel="stylesheet" />




 
    
    <script type="text/javascript">
       
        var globepost = {};
        globepost.country = {
            nigeria: ["pm news", "punch"],
            america: ["cnn", "cbn", "reuters news", "yahoo"],
            europe: ["sky news","bbc"]
        }


        globepost.ajax_call= function () {
            var ajax;
            if (window.XMLHttpRequest) {
                ajax = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                ajax = new ActiveXObject("MSXML2.XMLHTTP.3.0");
            }
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    globepost.result = JSON.parse(ajax.response);
                    handle();

                } else {
                    console.log("status..........." + ajax.status)
                }
            };
            ajax.open("GET", "http://localhost:8000/ajax1", true);
            ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            ajax.setRequestHeader("Accept", "application/json");

            ajax.send(null);




            //$.ajax({
            //    url: "http://localhost:8000/ajax1",
            //    dataType: "json",
            //    success: function (data1,status) {                


            //        console.log("Inside ajax...................")
            //        console.log("status......... " + status)
            //        globepost.result = data1;


            //    }


            //});

           

        };
         
      
                globepost.get_post= function () {
                    
                    return globepost.result;
                };
                globepost.get_post_single = function (num) {
                    
                    return globepost.result[num - 1];
                }
                globepost.get_post_slice = function (start, end) {
                    
                return globepost.result.slice(start - 1, end);

                };
                globepost.get_post_by_site = function (site) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if (e.fields.site == site) {
                            posts.push(e);
                        }
                    });
                    return posts;
                };
                globepost.get_post_less = function (date) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if (new Date(e.fields.pub_date) < new Date(date)) {
                            posts.push(e);
                        }
                    });
                    return posts;

                };
                globepost.get_post_less_or_eq = function (date) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if (new Date(e.fields.pub_date) <= new Date(date)) {
                            posts.push(e);
                        }
                    });
                    return posts;

                };
                globepost.get_post_gt = function (date) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if (new Date(e.fields.pub_date) > new Date(date)) {
                            posts.push(e);
                        }
                    });
                    return posts;

                };
                globepost.get_post_gt_or_eq = function (date) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if (new Date(e.fields.pub_date) >= new Date(date)) {
                            posts.push(e);
                        }
                    });
                    return posts;

                };
                globepost.get_post_eq = function (date) {
                    var post = globepost.result;
                    var posts = [];
                    post.forEach(function (e, i) {
                        if ((new Date(e.fields.pub_date) - new Date(date)==0)) {
                            posts.push(e);
                        }
                    });
                    return posts;

                }
                globepost.get_post_by_country = function (country) {
                    var post = globepost.result||[];
                    var posts = [];
                    var country = country.toLowerCase();
                    post.forEach(function (e, i) {
                        var site = e.fields.site.toLowerCase();
                        if (globepost.country[country].indexOf(site) >= 0) {
                            posts.push(e);
                        }
                        
                    });
                    return posts;
                }




            globepost.setdata= function (ele) {
                var ele = document.getElementById(ele);
                ele.innerHTML = globepost.result[0].fields.summary;
                return;
            };
            globepost.ajax_call();
        
            var handle=function () {
                
                var context = {
                    a: function () {  return globepost.result},
                    b: "This is my first post!"
                };
                console.log("Inside jq............................")
                var source = $("#entry-template").html();
                var template = Handlebars.compile(source);
                
                var ht = template(context);
                console.log("html................"+ht)
                $(document.body).append(ht)
            };
        
    </script>


</head>



<body>
   {% verbatim %}
  <script id="entry-template" type="text/x-handlebars-template">
      
       {{#each a}}
          <p><a href="{{fields.post_url}}">  {{fields.title}}</a></p>
      {{/each}}
    
  </script>
  {% endverbatim %}
<div id="con"></div>
    




</body>
</html>